* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.make-it-blue {
  background-color: #3498DB;
}

.white-noise {
  background-color: #FFFFFF;
}

body {
  text-align: center;
  font-family: Arial;
  background-color: #3498DB;
  padding: 50px;
}

.login {
  margin: 20px auto;
  width: 300px;
}

.second {
  margin: 20px auto;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
}

.second-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.second-form {
  text-align: center;
}

.settings {
  margin: 20px auto;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10%;
}

.settings-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.settings-form {
  text-align: center;
}

.pad-top {
  margin-top: 20px;
}

.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}
.control-group {
  margin-bottom: 10px;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border .5s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

.btn {
  border: 2px solid transparent;
  background: #3498DB;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
  margin-top: 12px;
}

.centered-row {
  text-align: center;
  margin: auto;
}

.right-button {
  background-color: #FFF;
  margin-bottom: 20px;
  margin-left: 20px;
}

.left-button {
  background-color: #FFF;
  margin-bottom: 20px;
  margin-right: 20px;
}

.logo {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: #FFF;
}

.pong-board {
  background-color: #FFF;
  width: 90vw;
  height: 40vw;
  padding-left: 2vw;
  padding-right:2vw;
  display: inline-block;
  /* transform: translateY(200px); */
}

.bar {
  background: #000000;
  width: 1.5vw;
  height: 10vw;
}

.left-bar {
  float: left;
  position: relative;
  top: 15vw;
}

.right-bar {
  float: right;
  position: relative;
  top: 15vw;
}

.ball {
  background: #990101;
  width: 2vw;
  height: 2vw;
  position: relative;
  top: 20vw;
  left: 42vw;
  border-radius: 100%;
}